---
import Layout from "../../../layouts/Layout.astro";
import HeaderSection from "../../../components/HeaderSection.astro";
import HeaderSubSection from "../../../components/HeaderSubSection.astro";
import Item from "../../../components/Item.astro";
import near_places from "../../../mocks/near_places.json";
import users from "../../../mocks/users.json";

export async function getStaticPaths() {
	return users.map((user) => ({
		params: { id: user.id },
		props: { own_info: user },
	}));
}

const { id } = Astro.params;
const { own_info } = Astro.props;

if (!own_info) {
	throw new Error("User not found");
	return Astro.redirect("/404");
}
---

<Layout>
	<main class="py-4 w-full mt-6 overscroll-contain flex-1 overscroll-y">
		<HeaderSection
			title={`Welcome ${own_info?.username || "Usuario no encontrado"}`}
		/>

		<section>
			<HeaderSubSection title="Your places" />
			<div
				class=`grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full gap-3 p-1`
			>
				{
					own_info.places.map((place) => (
						<Item
							name={place?.name || "Lugar no encontrado"}
							address={place?.address || "Dirección no encontrada"}
							totalSpots={place?.totalSpots || 0}
							avaliableSpots={place?.avaliableSpots || 0}
							link_maps={place?.link_maps || "#"}
							spaces={place?.parking_zones || []}
							origin="owner"
						/>
					))
				}
			</div>
		</section>
	</main>
</Layout>
